<div class="login-outer">
  <div class="login-container gap-y-2">
    <img class="login-logo" src="/assets/SC_vertical.png" alt="" />
    <h1><span>Welcome. </span> Please log in.</h1>

    <div>
      <dx-text-box [(value)]="username" placeholder="Username"></dx-text-box>
      <dx-text-box
        [(value)]="password"
        mode="password"
        placeholder="Password"
      ></dx-text-box>
    </div>

    <div>
      <dx-button text="Log in" type="success" (onClick)="login()"></dx-button>
    </div>

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p>Forgot password</p>
    <p>Forgot username</p>
  </div>
</div>
