<div class="modal-overlay">
  <div class="modal-content">
    <h2>{{ user ? "Edit User" : "Add New User" }}</h2>

    <form>
      <label for="FirstName">FirstName</label>
      <input
        id="FirstName"
        [(ngModel)]="userForm.FirstName"
        name="FirstName"
        type="text"
        required
      />

      <label for="LastName">LastName</label>
      <input
        id="LastName"
        [(ngModel)]="userForm.LastName"
        name="LastName"
        type="text"
        required
      />

      <label for="Email">Email</label>
      <input
        id="Email"
        [(ngModel)]="userForm.Email"
        name="Email"
        type="Email"
        required
      />

      <div class="modal-actions">
        <button type="button" (click)="close()">Cancel</button>
        <button type="button" (click)="save()">Save</button>
      </div>
    </form>
  </div>
</div>
